<div class="container">
    <h2>Ropa</h2>

    <div class="product-container">
        <div class="product-card">
            <img class="product-image" src="https://www.sams.com.mx/images/page-landing-images/ropa/2021/facets-ropa-hombre.png" alt="Producto 1">
            <div class="product-details">
                <h5 class="product-title">Producto 1</h5>
                <p class="product-description">Descripción del producto 1.</p>
                <p class="product-price">$99.99</p>
                <button class="btn-add-to-cart">Agregar al carrito</button>
            </div>
        </div>

        <div class="product-card">
            <img class="product-image" src="assets/cha.jpeg" alt="Producto 2">
            <div class="product-details">
                <h5 class="product-title">Producto 2</h5>
                <p class="product-description">Descripción del producto 2.</p>
                <p class="product-price">$79.99</p>
                <button class="btn-add-to-cart">Agregar al carrito</button>
            </div>
        </div>

        <div class="product-card">
            <img class="product-image" src="assets/iga.png" alt="Producto 3">
            <div class="product-details">
                <h5 class="product-title">Producto 3</h5>
                <p class="product-description">Descripción del producto 3.</p>
                <p class="product-price">$149.99</p>
                <button class="btn-add-to-cart">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>
