<div class="formularioRegistro">
    <h2>REGISTRAR USUARIO</h2>
    <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">
        <div clas="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
        </div>

        <div clas="form-group">
            <label>Apellido Paterno</label>
            <input type="text" formControlName="apellido_paterno" class="form-control">
        </div>

        <div clas="form-group">
            <label>Apellido Materno</label>
            <input type="text" formControlName="apellido_materno" class="form-control">
        </div>

        <div clas="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" formControlName="fecha_nacimiento" class="form-control">
        </div>

        <div clas="form-group">
            <label>Teléfono</label>
            <input type="text" formControlName="telefono" class="form-control">
        </div>

        <div clas="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control">
        </div>

        <div clas="form-group">
            <label>Contraseña</label>
            <input type="text" formControlName="password" class="form-control">
        </div>

        <br>

        <button type="submit" class="btn btn-primary">Registrar</button>

    </form>
</div>